/* =========================
   GLOBAL SETTINGS
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f6f8ff;
    color: #202040;
}


/* =========================
   NAVBAR
========================= */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 8%;

    background: white;

    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

.logo span {
    color: #6c63ff;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-links a:hover {
    color: #6c63ff;
}


/* =========================
   HERO
========================= */

.hero {
    min-height: 550px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 70px 8%;

    background:
        linear-gradient(
            135deg,
            #eef0ff,
            #ffffff,
            #f4eaff
        );
}

.hero-text {
    width: 50%;
}

.small-title {
    color: #6c63ff;
    font-weight: bold;
    letter-spacing: 3px;
}

.hero h1 {
    font-size: 55px;
    line-height: 1.1;
    margin: 20px 0;
}

.hero h1 span {
    display: block;
    color: #6c63ff;
}

.hero p {
    font-size: 18px;
    line-height: 1.7;
    color: #555;
}